*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh; /*viewport (khung hình hiển thị) height*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}
.request{
    height: 7.5vh;
    width: 20%;
    align-items:center;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    justify-items:right;
    flex-direction: column;
}
.request div{
    margin-top: 10px;
    font-size: medium;
    text-align: center;
}

.location,.temperature{     
    height: 25.5vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.location{
    margin-top: -4vh;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: -7.5vh;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}
.degree-section h2{
    font-size: 40px;
}

.temperature-description{
    font-size: 20px;
}